#chart-title-wrap {
  text-align:center;
}

#chart-title {
  font-size:18px;
}

#refreshConcernChart {
  margin:5px 0;
  display:block;
}

#columnchart_values {
    margin:30px 0;
}
/*
 * Documentation specific stylesheet
 */
.skin-blue .main-header .logo {
  background:#3c8dbc;
}
.bring-up {
  position: relative;
  z-index: 30;
}
.nth-2-center > tbody > tr > td:last-of-type {
  text-align: center!important;
}
.content {
  font-size: 16px;
  z-index: 500;
}

#components > h3 {
  font-size: 25px;
  color: #000;
}

#components > h4 {
  font-size: 20px;
  color: #000;
}
ul {
  margin-bottom: 20px;
}
.page-header {
  margin: 20px 0 10px 0!important;
  position: relative;
  z-index: 1;
  font-size: 26px;
}
.page-header span,
.page-header a {
  z-index: 5;
  display: block;
  color: #000;
}
.page-header span::before,
.page-header a::before {
  content: '#';
  font-size: 25px;
  margin-right: 10px;
  color: #3c8dbc;
}
.page-header:before,
#components > h3:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  z-index: -10;
}

.eg{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #d2d6de;
  padding: 5px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #d2d6dc;
  border-right: 1px solid #d2d6dc;
}
.eg + * {
  margin-top: 30px;
}
.content {
  padding: 10px 25px;
}
.hierarchy {
  background: #333;
  color: #fff;
}
.plugins-list li {
  width: 50%;
  float: left;
}
pre {
  border: none;
}
.q-wrap {
  margin-bottom:40px;
}
.activity-stat {
  margin:10px 0px 5px 0;
}

@media screen and (max-width: 768px) {
  #concern-activities {
    margin:-15px;
  }

  #concern-activities table tr {
    border:none;
    border-bottom:1px solid #ccc;
  }

  #concern-activities table tr:first-child {
    border-top:1px solid #ccc;
  }

  #concern-activities .pagination {
    padding:15px;
  }
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    word-wrap: break-word;
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px;
  }
}