.content-wrapper .container {
    background:transparent;
}

hr {
    margin:10px 0;
}

#main-content {
    margin-top:10px;
}

.budget-rows {
    background:white;
    padding-top:10px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

#main-header {
    text-align:center;
}

#main-header > header {
    font-size:24px;
}

.bar {    
    height: 4px;
    background: #2b8aff;
    display: inline-block;
    overflow: hidden;
    border-radius: 2px;
}

.budget-rows > .row {
    padding:10px;
    border-bottom: 1px solid #efefef;
}

.budget-rows > .row > div:first-child {
    font-size:16px;
}

.budget-rows > .row > div:last-child {
    text-align:right;
    font-family:monospace;
    font-size: 16px;
}

#total-label {
    font-size:20px;
    font-weight:normal;
}

@media screen and (max-width:768px) {
    .budget-rows > .row > div:last-child {
        font-size:16px;
    }
}
