h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body {
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px) {
    .form-inline .form-control {
        width:100%;
    }
}
.content-wrapper .container {
  background:white;
}