body {
    font-family: 'Montserrat', sans-serif;
}

.main-header nav {
    background:#ffde79;
}

.header-main a:hover {
    background: #ffde00;
}

.vollkorn {
    font-family: 'Vollkorn';
    font-style: italic;
}

.flag-count-wrap.active {
    background:#9e314d;
}

.diff-wrap .vollkorn {
    margin-bottom:5px;
}

.budget-diff-wrap {
    text-align:center;
    padding:15px 10px;
    background: #717171;
    color:white;
    min-height:125px;
}


.budget-row {
    padding:10px 0;
    border-bottom: 1px solid #ccc;
}

.budget-diff-wrap .diff-nominal {
    font-weight:bold;
    font-size:28px;
}

.budget-diff-wrap .diff-kelipatan {
    font-size:18px;
}

.diff-wrap div {
    color:white;
}

.budget-row .col-xs-8 {
    padding-left:0;
}

.main-data {
    padding-left:0;
}

.main-data .row {
    margin-left: -15px;
    margin-right: -15px;
}

.main-data .row > div:first-child {
    margin-bottom:20px;
}

.main-data > div {
    margin:20px 0;
    font-size:18px;
}

.main-data > div:first-child {
    margin:0;
}

.budget-diff-wrap.favor-dprd {
    background:#0b7547;
}

.budget-diff-wrap.favor-pemprov {
    background:#ff0534;
}

.skpd-name {
    margin:10px 0;
}

.right-counts > div {
    background-size: 30px 30px;
    text-align: right;
    padding:9px;
    color:white;
    min-height:58px;
}

.comment-count-wrap {
    background: url(../img/icon_komentar.png) no-repeat 10px center #3b5998;
}

.action-cta {
    font-size:18px;
}

.action-wrap {
    cursor:pointer;
    height:57px;
    position:relative;
    width:60%;
    margin:5px 0 10px 0;
    display:block;
}

.action-wrap .action-label {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 15px;
    left: 50px;
}

.flag-count-wrap {
    background: url(../img/icon_curiga_off.png) no-repeat 10px center white;
    background-size: 30px 30px;
    color:#9e314d;
    border:2px solid #9e314d;
}

.flag-count-wrap .flag-count {
    position:absolute;
    right:12px;
    top:17px;
}

.flag-count-wrap.active {
    background: url(../img/icon_curiga.png) no-repeat 10px center #9e314d;
    background-size: 30px 30px;
    color: white;
    cursor:pointer;
}

.share-wrap {
    background: url(../img/fb_f_logo.png) no-repeat 10px center #4c69ba;
}

.share-label {
    color:white;
}

.diff-kelipatan {
    font-size:12px;
}

.diff-nominal {
    font-size:14px;
    font-weight:bold;
}

.budgets-details h4 {
    font-weight:bold;
    font-size:24px;
}

.facebook-comments-wrap {
    margin-top:20px;
}

@media screen and (min-width:992px) {
    .right-counts {
        padding-left:0;
    }

    .left-counts {
        padding-right:10px;
    }

    .main-data .budgets > div:first-child {
        padding:0;
    }
}

@media screen and (max-width:553px) {
    .action-wrap {
        width:100%;
    }
}

/*
804b00 - font coklat
ffde79 - toolbar kuning
717171 - selisih grey
ff0534 - selisih merah
0b7547 - selisih hijau
9e314d - kotak curiga
3b5998 - kotak biru
*/